<p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
<p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS SOON</p>
<p class="go-to brandon">In the meantime, head to  <a href="http://www.uppercutzz.com/">WWW.UPPERCUTZZ.COM</a></p>
<p class="again brandon">Thank You Again!</p>